.day-container {
    -fx-background-color: #555;
    -fx-border-color: #ddd;
    -fx-border-width: 0 1px 0 0;
}

.day-head {
    -fx-background-color: #595959;
}
.day-weekday-lbl {
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-alignment: center;
}
.day-scroll-pane {
    -fx-background-color: #555;
}
.day-hour-container {
    -fx-background-color: #555;
}
.hour-wrapper {
    -fx-background-color: #555;
    -fx-border-color: #fff;
    -fx-border-width: 0 0 1px 0;
}
.hour-label {
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}